/*Base*/
@import "Base/_reset.scss";
@import "Base/_typography.scss";
@import "Base/_fonts.scss";
/*Utils*/
@import "Utils/_variables.scss";
@import "Utils/_functions.scss";
@import "Utils/_mixins.scss";
@import "Utils/_helpers.scss";
@import "Utils/_placeholders.scss";
/*Layout*/
@import "Layout/_grid.scss";
@import "Layout/_header.scss";
@import "Layout/_footer.scss";
@import "Layout/_navigation.scss";
@import "Layout/section";
/*Components*/
@import "Components/_cards.scss";
@import "Components/_animation.scss";
@import "Components/_button.scss";
/*Pages*/
/*Themes*/
/*Vendors*/

a {

  @include font(white, "Roboto", 16px, normal, 500, normal);
}

body{
  //opacity: 1;
  
  animation: loader linear 1.5s;

}


@keyframes loader{
  0%{
    opacity: 0;
    background-color: black;
    transform: scale(0.1);
    
    
  }
  100%{
      opacity: 1;
      transform: scale(1);
  }
}