/*Base*/
@import "base/_reset.scss";
@import "base/_typography.scss";
@import "base/_fonts.scss";
/*Utils*/
@import "utils/_variables.scss";
@import "utils/_functions.scss";
@import "utils/_mixins.scss";
@import "utils/_helpers.scss";
@import "utils/_placeholders.scss";
/*Layout*/
@import "layout/_grid.scss";
@import "layout/_header.scss";
@import "layout/_footer.scss";
@import "layout/_navigation.scss";
@import "layout/section";
/*Components*/
@import "components/_cards.scss";
@import "components/_animation.scss";
@import "components/_button.scss";
@import "components/_footer.scss";
@import "components/_header.scss";
/*Pages*/
/*Themes*/
/*Vendors*/

a {
  @include font(white, "Roboto", 16px, normal, 500, normal);
}

.loader__container {
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;

  animation: hidecontenu 1s 5s both;

  z-index: -1;

  &__dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    margin: 0 15px;
    //animation: loader infinite 0.3s alternate;

    animation: loader infinite 0.3s alternate;

    @for $i from 1 through 3 {
      &--d#{$i} {
        animation-delay: 1s * $i;
      }
    }
  }
}
