footer {
  @include flex($flexDirection: column, $gap: 16px);

  padding: 22px 25px;
  background-color: #353535;

  @include min1080 {
    @include flex($flexDirection: row-reverse, $gap: 91px, $alignItems: center);

    width: 100%;
    padding: 30px 25px;
  }

  .logo__txt {
    @include font(white, "Shrikhand", 18px, normal, 400, normal);
  }

  nav {

    display: grid;
    row-gap: 7px;

    @include min1080() {
      @include flex($gapcolumn: 31px);
    }
  }

  ul {

    @include flex($flexDirection:column, $gap:7px);

    @include min1080 {
      flex-direction: row;
    }
  }

}

