.footer {
    
    display: flex;
    flex-direction: column;
    gap:16px;
    padding: 22px 25px;
    background-color: grey;
    width: 375px;

    // Desktop
    //flex-direction: row-reverse;

    ul {
        display: flex;
        flex-direction: column;

        gap:7px;
    }
    
}

