header {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  //width: 100%;
  /*
  @include flex($JustifyContent:center, $gap : 25px);
  padding:10px;
  //background-color: $bg-color-header;
  @media (max-width : 1000px) {
    @include flex($flexDirection:column,$alignItems:center, $gap : 25px);
  }
  */
}

.headermobile{
  width: 375px;
  height: 63px;

  .navbar {
    padding: 14px 89px 13px 17px; 
    background-color: aquamarine;
    //align-items: center;
  
    ul {
      display: flex;
      align-items: center;
      gap: 42px;
  
      .logo img{
        padding: 0px 19px 0px 16px; 
      }
    }
    
  }
}

.headerdesktop {
  max-width: 1440px;
  height: 96px;

  .navbar {
    padding: 14px 89px 13px 17px; 
    background-color: aquamarine;
    //align-items: center;
  
    ul {
      display: flex;
      align-items: center;
      gap: 42px;
  
      .logo {
        display: flex;
        width: 100%; 
        justify-content: center;
      }
    }
    
  }
}



.navbar__souslink {
  @include flex($flexDirection: column, $gap: $Gap-Globale);
  .navbar__souslink--element {
    @include flex($flexDirection: column, $gap: $Gap-Globale);
  }
}

.logo {
  //padding: 14px 89px;
  /*
  img {
    width: 197px;
    height: 36px;
  }
  */
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:17px;
  background-color: #EAEAEA;
  height: 50px;
}
