.navbar {
  padding: 14px 89px 13px 89px;

  position: relative;

  &__link {
    @include flex($JustifyContent: center, $alignItems: center, $gap: 42px);

    &__logo {
      @include flex($JustifyContent: center);
      width: 100%;

      img {
        padding: 0px 19px 0px 16px;
      }
    }

    .back {
      position: absolute;
      left: 17px;
    }
  }
}

.location {
  @include flex($JustifyContent: center, $alignItems: center, $gap: 17px);
  background-color: #eaeaea;
  height: 50px;
  width: 100%;

  p {
    @include font(#353535, "Roboto", 16px, normal, 500, normal);
  }
}
