header {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  //width: 100%;
  /*
  @include flex($JustifyContent:center, $gap : 25px);
  padding:10px;
  //background-color: $bg-color-header;
  @media (max-width : 1000px) {
    @include flex($flexDirection:column,$alignItems:center, $gap : 25px);
  }
  */
}

.navbar {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap:42px;

  @include min375() {
    gap:572px;
    padding-right: 672px;
  }

  
  
}

.navbar__souslink {
  @include flex($flexDirection: column, $gap: $Gap-Globale);
  .navbar__souslink--element {
    @include flex($flexDirection: column, $gap: $Gap-Globale);
  }
}

.logo {
  padding: 14px 89px;
  /*
  img {
    width: 197px;
    height: 36px;
  }
  */
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:17px;
  background-color: #EAEAEA;
  height: 50px;
}
