.button {
  @include flex($flexDirection: column, $alignItems: center, $gap: 20px);
  border: 5px solid black;
  padding: 50px;
}

.header__footer {
  border: 5px solid black;

  @include flex($flexDirection: column, $gap: 50px);

  H1 {
    text-align: center;
  }
}

.cartes {
  @include flex($flexDirection: column, $alignItems: center, $gap: 48px);

  background-color: beige;

  H1 {
    text-align: center;
  }
}

.entree {
  width: 275px;
  //padding: 48px 65px;
  p {
    @include font($fontsize: 16px, $fontfamily: "roboto", $font-weight: 300);

    flex-shrink: 0;
    text-transform: uppercase;
  }

  .line {
    margin-right: 235px;
    width: 40px;
    border-bottom: 3px solid $color-tertiaire;
  }
}

.menu {
  background-color: #f6f6f6;
  @include flex(
    $flexDirection: column,
    $alignItems: center,
    $JustifyContent: center,
    $gap: 27px
  );

  padding-top: 39px;
  padding-bottom: 57px;

  h1 {
    max-width: 73.33%;

    @include font(black, "Roboto", 24px, normal, 700, normal, center);
  }

  h3 {
    @include font(#353535, "Roboto", 18px, normal, 300, normal, center);
    max-width: 84%;
  }
}

.fonctionnement {
  h2 {
    @include font(
      $fontfamily: "roboto",
      $fontsize: 24px,
      $font-style: normal,
      $font-weight: 700,
      $line-height: normal
    );
    margin-bottom: 26px;
  }

  .btn__container {
    @include flex($flexDirection: column, $gap: 24.92px);

    padding-left: 12.51px;

    @include min1080() {
      flex-direction: row;
    }
  }

  padding-right: 20px;
  padding-top: 48px;
  padding-bottom: 68px;
  padding-left: 20px;

  @include min1080() {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1080px;
    margin: 0 auto;
  }
}

#linkrestaurant {
  background-color: #f6f6f6;
}

.restaurant {
  @include flex($flexDirection: column, $gap: 28px);

  padding: 20px;
  padding-top: 54px;
  padding-bottom: 66px;

  h2 {
    @include font(
      $fontfamily: "roboto",
      $fontsize: 24px,
      $font-style: normal,
      $font-weight: 700,
      $line-height: normal
    );
  }

  @include min1080() {
    max-width: 75%;
    margin: auto;
  }

  .card02__container {
    @include flex($flexDirection: column, $gap: 18px);

    @include min768() {
      display: grid;
      grid-template: auto / repeat(2, 1fr);
    }

    @include min1080() {
      & {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        row-gap: 50px;
        column-gap: 100px;
      }
    }

    .card02 {
      @include min1080() {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
      }
    }
  }
}

.bg {
  width: 100%;
  max-height: 383px;
  object-fit: cover;
  position: relative;
}

.hero {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 61px;

  & img {
    min-height: 275px;
  }
}

.plat {
  background-color: #f6f6f6;

  border-radius: 40px 40px 0px 0px;
  width: 100%;
  //height: 100%;
  position: relative;
  //bottom: 55px;
  margin-top: 200px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 32px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 40px;

  @include min768() {
    margin-top: 300px;
  }

  @include min1080 {
    align-items: center;
    max-width: 1055px;
    margin: auto;
    margin-top: 342.66px;
  }

  &__titre {
    display: flex;
    align-items: baseline;
    gap: 22px;
    @include font(#101010, "Shrikhand", 28px, normal, 400, normal);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include min1080 {
      max-width: 634px;
      width: 100%;
      margin: auto;
    }
  }
}
