/*section {
    padding: 50px;
    height: 800px;
    background-color: RandomColor();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.containercards {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: RandomColor();
    padding: 50px;
}

.search {
    display: none;
}
*/

.button {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
    gap: 20px;
}

.header__footer {
    border: 5px solid black;
    display: flex;
    flex-direction: column;

    gap: 50px;

    H1 {
        text-align: center;
    }

    
}

.cartes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:48px;
    background-color: beige;

    H1 {
        text-align: center;
    }
}

.entree {

    width: 275px;
    //padding: 48px 65px;
    p {
        font-size: 16px;
        font-family: 'roboto';
        font-weight: 300;
        flex-shrink: 0;
    }
    
    .line {
        margin-right: 235px;
        width: 40px;
        border-bottom: 3px solid $color-tertiaire;
    }
    
    
   
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:27px;
}

.fonctionnement {
    padding:20px;
}

.restaurants {
    display: flex;
    flex-direction: column;
    gap:18px;
    padding:20px;
}