
@keyframes heartlike {
  0%{
    fill: none;
    stroke : #101010;
    
  }
  100% {
    fill: url("#paint0_linear_25368_712");
    stroke: none;
   
  }
}

@keyframes card {
  0%{
  
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}

@keyframes cardcheck{
  from{
    transform: scaleX(0);
   
  }
  to{
    
    transform: scaleX(1);
  }
}

@keyframes loader {
  100%{
    transform: translateY(-30px);
  }
}

@keyframes hidecontenu{
  0%{
    z-index: 2;
  }
  100%{
    opacity: 0;
    z-index: -1;
  }
}