.card {
  display: flex;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001a;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
    width:100%;
  }

  & img {
    display: none;
  }
  
  &:hover img{
    display: inline;
  }
  

}

.card02 {

    background-color: azure;
    display: flex;
    flex-direction: column;
    gap:16px;
    border-radius: 15px;

    &__description {
        display: flex;
        gap:13px;
        align-items: center;
        //justify-content: space-between;

        & img {
            padding-right: 25px;
            padding-bottom: 33px;
            padding-left: 293px;
        }
    }

    &__text {
        width: 100%;
        padding-left: 13px;
    }

    &__img img{
        border-radius: 15px 15px 0px 0px;
        
        width: 100%;
    }
    
}