@charset "UTF-8";
/*Base*/
/* Reset All propriété de la page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.logo__titre {
  font-family: "Shrikhand";
}

.texte {
  font-family: "Roboto";
}

/*Utils*/
/*Globale Variable*/
/*Header Variable*/
/* */
/* Declaration des variables */
:root {
  /* Globable */
  --ColorPrimaire: #9356dc;
  --ColorSecondaire: #ff79da;
  --ColorTertiaire: #99e2d0;
  --colorColor: rgb(0, 0, 0);
  /* Header */
  --gap: 10px;
  --bgheader: grey;
  --headerheight: 100px;
  --colornavbar: rgb(0, 0, 0);
  --fontcolornavbar: white;
  --fontsizenavbar: 16px;
  /* Footer */
  --footerheight: 100px;
  --backgroundcolor: black;
  /* font */
  --fonttexte: "roboto";
  --fontcolor: white;
  /* Border */
  --bordercolor: yellow;
  --bordersize: 1px;
  --bordertype: solid;
  /* section */
  --sectionheight: 500px;
  color: var(--colorColor);
}

/*Layout*/
.navbar {
  padding: 14px 89px 13px 17px;
}
.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.navbar__link__logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar__link__logo img {
  padding: 0px 19px 0px 16px;
}
.navbar__link .back {
  padding-left: 17px;
  opacity: 0;
}

.header-mobile {
  width: 100%;
}
.header-mobile .navbar {
  padding: 14px 89px 13px 17px;
}
.header-mobile .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.header-mobile .navbar ul .logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-mobile .navbar ul .back {
  opacity: 1;
}
.header-mobile .navbar ul .logo img {
  padding: 0px 19px 0px 16px;
}

.headerdesktop {
  max-width: 1440px;
  height: 96px;
}
.headerdesktop .navbar {
  padding: 14px 89px 13px 17px;
  background-color: aquamarine;
}
.headerdesktop .navbar ul {
  display: flex;
  align-items: center;
  gap: 42px;
}
.headerdesktop .navbar ul .logo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #eaeaea;
  height: 50px;
  width: 100%;
}
.location p {
  color: #353535;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
  /*
  @include min375() {
    & {
      flex-direction: row-reverse;
      width: 100%;
      padding: 30px 25px;
      align-items: center;

      ul {
        flex-direction: row;
        @include font(white, "Roboto", 16px, normal, 500, normal);
      }
    }
  }
  */
}
@media (min-width: 1080px) {
  footer {
    flex-direction: row-reverse;
    width: 100%;
    padding: 30px 25px;
    align-items: center;
    gap: 91px;
  }
}
footer .logo__txt {
  color: white;
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer nav {
  display: grid;
  row-gap: 7px;
}
@media (min-width: 1080px) {
  footer nav {
    display: flex;
    column-gap: 31px;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1080px) {
  footer ul {
    flex-direction: row;
  }
}

.footermobile {
  width: 375px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
}
.footermobile ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footerdesktop {
  height: 114px;
  background-color: #353535;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 16px;
  padding: 30px 25px;
}
.footerdesktop ul {
  display: flex;
  gap: 7px;
}

.button {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 20px;
}

.header__footer {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.header__footer H1 {
  text-align: center;
}

.cartes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  background-color: beige;
}
.cartes H1 {
  text-align: center;
}

.entree {
  width: 275px;
}
.entree p {
  font-size: 16px;
  font-family: "roboto";
  font-weight: 300;
  flex-shrink: 0;
}
.entree .line {
  margin-right: 235px;
  width: 40px;
  border-bottom: 3px solid var(--ColorTertiaire);
}

.menu {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 39px;
  padding-bottom: 57px;
  gap: 27px;
}
.menu h1 {
  text-align: center;
  max-width: 73.33%;
  color: black;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu h3 {
  text-align: center;
  color: #353535;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 84%;
}

.fonctionnement {
  padding: 48px 20px 68px 20px;
}
.fonctionnement h2 {
  margin-bottom: 26px;
}
.fonctionnement .btn__container {
  display: flex;
  flex-direction: column;
  gap: 24.92px;
  padding-left: 12.51px;
}
@media (min-width: 376px) {
  .fonctionnement .btn__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .fonctionnement .btn__container .btn__fonctionnement {
    max-width: 322.486px;
  }
}
@media (min-width: 1024px) {
  .fonctionnement {
    max-width: 75%;
    margin: auto;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 20px;
  padding-top: 54px;
  padding-bottom: 66px;
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .restaurant {
    max-width: 75%;
    margin: auto;
  }
}
.restaurant .card02__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 768px) {
  .restaurant .card02__container {
    display: grid;
    grid-template: auto/repeat(2, 1fr);
  }
}
@media (min-width: 1080px) {
  .restaurant .card02__container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }
}
@media (min-width: 1080px) {
  .restaurant .card02__container .card02 {
    width: 100%;
    max-width: 490px;
  }
}

/*Components*/
.card {
  display: flex;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
  width: 100%;
}
.card:hover img {
  display: inline;
}

.card02 {
  background: #fff;
  /* Shadow/Card */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 15px;
}
.card02__description {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
}
.card02__description img,
.card02__description .btnlike {
  padding-right: 33px;
}
.card02__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding-left: 13px;
}
.card02__text--titre {
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card02__text--description {
  color: black;
  font-family: "Roboto";
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card02__img {
  position: relative;
}
.card02__img .badge {
  position: absolute;
  top: 13px;
  right: 15px;
}
.card02__img img {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  height: 174px;
}

.cardmenu {
  width: 340px;
  height: 251px;
}

@keyframes heartlike {
  0% {
    fill: none;
    stroke: #101010;
  }
  100% {
    fill: url("#paint0_linear_25368_712");
    stroke: none;
  }
}
.btn {
  background: linear-gradient(var(--ColorSecondaire), var(--ColorPrimaire));
  border-radius: 25px;
  color: white;
  border: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-family: "roboto";
  transition-duration: 2s;
}
.btn__text {
  padding: 13px 16px;
}
.btn:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.badge {
  background-color: var(--ColorTertiaire);
  color: #008766;
  width: 80px;
  padding: 7px 9px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.btnlike {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: 0;
  border: 0;
  position: relative;
}
.btnlike .HeartFull {
  position: absolute;
}
.btnlike .HeartEmpty {
  position: absolute;
}

.btn__02 {
  padding-right: 33px;
}
.btn__02 svg > path {
  fill: none;
  stroke: #101010;
  padding-right: 33px;
  animation: heartlike 100ms linear infinite paused;
  animation-direction: alternate;
}
.btn__02:active svg > path {
  animation-play-state: running;
}

.btn__03 {
  padding-right: 33px;
}
.btn__03 svg > path {
  fill: none;
  stroke: #101010;
  animation: heartlike 100ms linear infinite paused;
  animation-direction: alternate-reverse;
}
.btn__03:active svg > path {
  animation-play-state: running;
}

.btnlike i {
  position: absolute;
}

.heartfull {
  display: none;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.btn__fonctionnement {
  display: flex;
  border-radius: 20px;
  width: 100%;
  padding: 28px;
  gap: 62px;
  border: 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  color: black;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn__fonctionnement__numero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  border-radius: 100%;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
}

/*Pages*/
/*Themes*/
/*Vendors*/
a {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*# sourceMappingURL=style.css.map */
