/*Globale Variable*/
$color-globale: var(--colorColor);
/*Header Variable*/
$bg-color-header: var(--bgheader);
$Gap-Globale: Var(--gap);
/* */
$color-primaire:var(--ColorPrimaire);
$color-secondaire: var(--ColorSecondaire);
$color-tertiaire:var(--ColorTertiaire);

/* Declaration des variables */
:root {
  //#{$color-globale}
  /*Globable*/
  --ColorPrimaire:#9356DC;
  --ColorSecondaire:#FF79DA;
  --ColorTertiaire:#99E2D0;


  --colorColor: rgb(0, 0, 0);
  /* Header */
  --gap: 10px;
  --bgheader: grey;
  //---------------
  --headerheight: 100px;
  --colornavbar: rgb(0, 0, 0);
  --fontcolornavbar: white;
  --fontsizenavbar: 16px;

  /* Footer */
  --footerheight: 100px;

  --backgroundcolor: black;

  /* font */

  --fonttexte:'roboto';
  --fontcolor: white;

  /* Border */
  --bordercolor: yellow;
  --bordersize: 1px;
  --bordertype: solid;

  /* section */
  --sectionheight: 500px;

  color: $color-globale;
}
